*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #D6A4E8;
}
header{
    display: flex;
    background-color: #EDBAFF;
    height: 64px;
    justify-content: center;
    align-items: center;
}
nav a{
    margin: 20px;
    text-decoration: none;
    color: black;
}
#apresentacao{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    
}
#fotoNathalia{
    border-radius:142px;
    height: 350px;
    border: 10px solid #EDBAFF;
    margin-top: 40px;
}
#apresentacaoIntroducao{
    margin-left: 50px;
    width: 300px;
}
#projetos{
    background-color: #EDBAFF;
    height: 500px;   
    
}
#projetos-nome{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background-color:#D6A4E8;
}
#projetosTipo{
    margin-top:50px;
    display:flex;
    justify-content: space-around;
}
.projetosTipo_{
    display:flex;
    border-radius:20px;
    border: 5px solid #D6A4E8;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height:250px;
    
}
footer{
    display: flex;
    background-color: #EDBAFF;
    height: 64px;
    justify-content: center;
    align-items: center;
}