*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #D6A4E8;
}
header{
    display: flex;
    background-color: #EDBAFF;
    height: 64px;
    justify-content: center;
    align-items: center;
}
nav a{
    margin: 20px;
    text-decoration: none;
    color: black;
}
#fotoNathalia{
    border-radius:142px;
    height: 258px;
    border: 10px solid #EDBAFF;
}
footer{
    display: flex;
    background-color: #EDBAFF;
    height: 64px;
    justify-content: center;
    align-items: center;
}